@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Moonrocks&family=Zen+Dots&display=swap');
html{
   font-family: 'Poppins', sans-serif;
   
}
body{

   margin: 0;
}

h2{

   font-size: 30px;
}
span{

   color: orange;
}

.hire_me{
   text-decoration: none;
   background: linear-gradient(45deg, lightsalmon, tomato);
   padding: 10px 40px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
}
section{
   display: flex;
   padding: 40px;
   background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
   
}
.need_sector{
    width: 50%;
   
}

.need_sector img{
   width: 70%;
}